#sop_menu_bar{
    height: 50px;
    background-color: #666363a8;
    width: 100vw;
    align-items: center;
   /* margin-left: 10%; */
   border-radius: 10px;
   border: 1px solid #27262600;
margin-top: 50px;
display: flex;
justify-content: space-around;

}

#sop_leftside-navbar1{
   display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    /* border: 1px solid white; */
    color: white;
    margin-left: -60px;
    margin-top: 20px;
}

#sop_rightside_navbar1{
    color: rgb(150, 195, 239);
    margin-right: 20px;
}

#content-container{
margin-top: 20px;
     height: 100%;
    background-color: #666363a8;
    width: 100% ;
 font-size: 16px;
   border-radius: 10px;
   color: white;
   margin-top: 10px;
 
}
#createbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;

  transition: all 0.15s ease;
  box-shadow: 0 6px 0 #2e7d32;
}

#createbtn:active {
  transform: translateY(6px);
  box-shadow: 0 0 0 #2e7d32;
}

/* Hover effect */
#createbtn:hover {
  background-color: #45a049;
}