

#top_container{
    height: 110px;

}

#menu_bar{
    height: 50px;
    background-color: #666363a8;
    width: 100vw;
    align-items: center;
   /* margin-left: 10%; */
   border-radius: 10px;
   border: 1px solid #27262600;
margin-top: 50px;
display: flex;
justify-content: space-around;

}

.navbarhead{
    color:white
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #27262600 !important;
}

#leftside-navbar1 {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    /* border: 1px solid white; */
    color: white;
    margin-left: -60px;
    margin-top: 20px;



}

.nav-link{
    color: white;
}

#rightside_navbar1{

    color: rgb(150, 195, 239);
    margin-right: 20px;

}

/* .dropdown-menu {
  margin-top: 0 !important;
}

.nav-item.dropdown {
  padding-bottom: 10px; /* hover bridge */
*/

#btn_logout1 {
    border: 1px solid blue;
    height: 40px;
    margin-top: 4px;
    /* margin-right: -10px; */
    width: 100%;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    background-color: blue;
   padding-right: 14px;
   margin-bottom: 5px;
}


#content-container1{
margin-top: 20px;
     height: 100%;
    background-color: #666363a8;
    width: 100% ;
 font-size: 16px;
   border-radius: 10px;
   color: white;
   margin-top: 10px;
 
}

#upload_area1{

    /* margin-top: 20px; */
     /* height: 550px; */
    /* background-color: #666363a8;
    width: 90% ;
    align-items: center;
   margin-left: 0%;
   border-radius: 10px;
   border: 1px solid #666363a8; */

}

#search_area{

    margin-top: px;
          height: 550px;

    background-color: #666363a8;
    width: 80% ;
    align-items: center;
   margin-left: 3%;
   border-radius: 10px;
   border: 1px solid #666363a8;

}

#upload_inner_content1{
    height: 100%;
    width: 100%;
    /* border: 3px dashed blue; */
    border-radius: 20px;
    background-color: #000000a3;
    padding: 2px;
    /* margin-top: 10px; */

}

#formfile{
    padding-right: 10%;
}

#btnuploadfile{
    background-color: blue;
    width: 60%;
    margin-left: 20%;

}

#process_btn{
    cursor: pointer;

   
}

body{
    background-color: #454444;
    height: 100vh;

}

#showpdf{
    width: 80px;

    border: 1px solid #27262600;
  height: 40px;
  margin-top: 4px;
  margin-left: 10px;
  /* width: 90%; */
  align-items: center;color: white;
  border-radius: 20px;
  font-size: 15px;
  background-color: blue;
}

#removebtn{
    border: 1px solid #27262600;
  height: 40px;
  margin-top: 4px;
  margin-left: 10px;
  width: 90%;
  align-items: center;color: white;
  border-radius: 20px;
  font-size: 15px;
  background-color: blue;
}

table{
    /* border: 1px solid white; */

    border-collapse: collapse;
    width: 90px;
    margin: 50px auto;
    margin-left: 10px;
    /* background-color: burlywood; */
    table-layout: fixed !important;
}

th, td{
    /* border: 1px solid white; */
    padding: 12px;
}

th{
    font-size: 20px;
    font-weight: 700px;
    font-family: Arial;
    color: white;
    /* text-align: center; */
}

td{
    font-size: 20px;
    color: white;
    font-weight: 40px;
    font-family: Georgia;
    /* vertical-align: left; */
}



